.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141414;
    padding: .5rem;
    color: #fff;
    animation: initialize 0.4s forwards;
    border-bottom: 1px solid #303030a3;
}

.top-drops {
    display: flex;
    gap: 1rem;
}

header {
    animation: initialize 0.4s forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
}

header h1{
    color: var(--terciary);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

.logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.nav-bar {
    padding: 1.5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.nav-bar li a {
    color: #fff;
    font-size: 1.2rem;
    gap: 1rem;
}

.nav-bar li i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
}

.nav-bar li a::after {
    content: '';
    height: 0;
    width: 10px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

.nav-bar li a:hover::after {
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--primary);
}

.nav-bar li a.active {
    color: var(--secondary);
    height: 0;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--primary);
}

.search-bar {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border-style: none;
}

@keyframes initialize {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
