header {
    width: 100%;
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    color: var(--terciary);
    border-bottom: 1px solid #303030a3;
}

.top-container div {
    flex: 1;
}

.social-icons i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


.top-title h1 {
    text-align: center;
    font-size: 3rem;
}

.top-actions {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}

.top-actions a {
    display: flex;
    gap: .5rem;
    color: var(--terciary);
    justify-content: center;
    align-items: center;
}

.top-actions button {
    background-color: transparent;
    font-size: 1rem;
    color: var(--terciary);
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--terciary);
    gap: 1rem;
}

.nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    padding: 1.5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.nav-bar li a {
    color: var(--terciary);
    font-size: 1.2rem;
    gap: 1rem;
}

.nav-bar li i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
}

.nav-bar li a::after {
    content: '';
    height: 0;
    width: 10px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

.nav-bar li a:hover::after {
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--primary);
}

.nav-bar li a.active {
    color: var(--secondary);
    height: 0;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--primary);
}

.search-bar {
    padding: .5rem .5rem;
    border-radius: .5rem;
    width: 20rem;
    border: 0;
    background-color: var(--terciary);
}


/* NAV MOBILE */

.nav-mobile {
    display: none;
}



@keyframes initialize {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@media screen and (max-width:1280px) {
    .nav-bar {
        padding: 1.5rem;
        display: flex;
        gap: 2rem;

    }

    .nav-bar li a {
        font-size: 1rem;
    }

    .search-bar {
        padding: .5rem .5rem;
        border-radius: .5rem;
        width: 15rem;
        border: 0;
    }
}

@media screen and (max-width:1024px) {
    .top-title h1 {
        font-size: 2.5rem;
    }

    .nav-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-desktop,
    .desktop {
        display: none;
    }

    .nav-bar li a {
        font-size: 1rem;
    }

    .search-bar {
        padding: .5rem 2rem;
        border-radius: .5rem;
        width: 90%;
        border: 0;
    }
}

@media screen and (max-width:820px) {
    .top-title h1 {
        font-size: 2rem;
    }

    .search-bar {
        padding: .5rem 1rem;
        border-radius: .5rem;
        width: 90%;
        border: 0;
    }
}