.initial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-initial {
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1),
            #000),
        url("../assets/bg2.jpg");
    display: flex;
    justify-content: start;
    align-items: center;
}

.bg-initial::before {
    content: "";
    position: absolute;
    z-index: -1;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan h1 {
    font-size: 4rem;
    color: #fff;
}

.slogan button {
    padding: 0.5rem 10rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right, rgb(135, 1, 184), #107d79);
    color: #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.slogan button:hover {
    transform: scale(1.07);
    border: 1px solid #fff;
}

.drops {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.for-you {
    background-color: #d6d6d6;
}