.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    border-radius: .5rem;
    border: 1px solid rgba(47, 47, 47, 0.4);
    gap: 1rem;
}

.card img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--terciary);
    font-weight: bold;
}

.stars {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.star {
    font-size: .7rem;
}

.card-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.btn-cart {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1d1d1d;
    padding: 0.5rem 1rem;
    gap: .5rem;
    border-radius: .5rem;
    color: #fff;
}

.btn-favorite {
    padding: .5rem;
    border-radius: 1rem;
    background-color: #7c7b7b;
    box-shadow: inset 0px 0px 95px 0px rgba(0, 0, 0, 0.6);
}