.sidebar {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--bg);
    visibility: hidden;
    box-shadow: 3px 4px 1rem;
    z-index: 99;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

aside nav{
    position: sticky;

}

.btn-close {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    position: absolute;
    top: .5rem;
    right: .5rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    border-radius: 5rem;
    z-index: 1;
}

.btn-close i:hover {
    color: var(--terciary);
}

.btn-close i {
    transition: color .3s ease-in;
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
}

/*------------------------ Dropdown Side ----------------------------*/

.dropbtn {
    background-color: var(--primary);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 4rem;
    width: 100%;
    gap: 1rem;
}

.dropbtn i {
    color: #fff;
}

.drop-content {
    gap: 1rem;
    width: 100%;
    z-index: 1;
    background-color: var(--bg);
}

.droplist li {
    padding: .7rem .4rem;
    width: 100%;
    border-bottom: 1px solid #3a3a3a33;
}

.drop-content a {
    text-align: center;
    width: 100%;
}

.droplist li a {
    color: var(--terciary);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.droplist li::after {
    content: '';
    height: 0;
    width: 10px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

.droplist li:hover::after {
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--primary);
}

.droplist li i {
    color: var(--terciary);
}


@media screen and (max-width:480px) {
    .sidebar {
        width: 100%;
    }
}