
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}


.scroll-info{
    background-color: #2f2f2f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

