.tab-bar {
    position: sticky;
    bottom: -2rem;
    width: 100%;
    background-color: var(--bg);
    display: none;
}

.tab-links {
    display: flex;
    justify-content: space-around;
}

.tab-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: .3rem;
}

.tab-links li a {
    color: var(--terciary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:480px) {
    .tab-bar{
        display: inline;
    }
}