:root{
    --primary:#a80e1a;
    --secundary:#a42d8a;
    --terciary:#fff;
    --quaternary:#000;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    font-family: Poppins;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

i{
    color: var(--primary);
}