:root {
    --bg: #131313;
    --primary: #a80e1a;
    --terciary: #fff;
    --quaternary: #000;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: Poppins;
    max-width: 1600px;
    margin: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1rem;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

i {
    color: var(--primary);
}


h3 {
    color: var(--terciary);
}

button {
    font-family: Poppins;
}