:root{
    --bg:#131313;
     --primary:#a80e1a;
    --terciary:#fff; 
    --quaternary:#000;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: Poppins;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

i{
    color: var(--primary);
}

